:root {
  --backgroundColor: #2c2c2c;
  --offWhite: #f1eee3;
  --purple: #a3a7fd;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--backgroundColor);
  color: var(--offWhite);
  font-family: "Lato", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
