.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.tableContainer {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.tableHeader,
.tableCells {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.gridTitles {
  display: flex;
}

.gridSubtitles {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.ladderRows {
  display: flex;
}
