.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.tableContainer {
  overflow-x: auto;
}

.table {
  border-collapse: collapse;
  margin-top: 20px;

  thead {
    background-image: linear-gradient(
      to bottom right,
      var(--darkPurple),
      var(--midBlue),
      var(--fluroBlue)
    );
  }
}

.tableHeader,
.tableCells {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.gridTitles {
  display: flex;
}

.gridSubtitles {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.ladderRows {
  display: flex;
}

.loderCredit {
  font-size: 10px;
  margin-top: 10px;
}
